*{
    box-sizing: border-box;

}

body {
    font-family: "Montserrat", "Noto Sans JP", sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}
#header {
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-all {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    /* margin-left: auto;
    margin-right: auto; */
    align-items: center;
    padding: 10px;
}

.header-top {
    padding: 20px 25px 20px 20px;

}

.header-title {
    font-size: 28px;
    font-weight: bold;
    color: #d136d1;
}

.navigation {
    text-align: center;
    line-height: 48px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 22px;
}

.navigation ul {
    gap: 26px;
    text-align: center;
}

.navigation ul li:nth-child(2) {
    position: relative;
    left: 7px;
}

.navigation ul li:nth-child(3) {
    position: relative;
    left: 15px;
}

.navigation ul li a{
    color: #fff;
   

}

a {
    vertical-align: bottom;

}

.navigation {
    cursor: pointer;
}

.nav {
    display: flex;
    margin-right: 13px;
}

.mainvisual {
    background:linear-gradient(120deg, #23002e, #1e092b, #320C65, #A01B7C, #C21780)
    
}

.header-main {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    height: 700px;
    margin: 0 auto;
}



.header-contet {
    width: 100%;
    background-image: url(../img/top.png);
    background-repeat: no-repeat;
    background-position: right 8% bottom;
    padding: 40px;
    padding-top: 160px;
    letter-spacing: 1px;
}

.content-title {
    color: rgb(209, 54, 209);
    margin-left: 56px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    bottom: 8px;
}

.contet-title-span {
    color: #fff;
    padding-left: 5px;
}

.content-work {
    width: 100%;
    color: #fff;
    font-size: 96px;
    font-weight: bold;
    margin-top: 8px;
    padding-left: 57px;
    position: relative;
    top: 5px;

}

.content-date {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 57px;
    letter-spacing: 2px;
}

.content-date::after {
    content: url(../img/teiji-de-kaerumon.png);
    vertical-align: top;
    margin-left: 133px;
    position: relative;
    bottom: 7px;
}

.apply {
   max-width: 300px;
   width: 100%;
    margin-top: -35px;
    margin-left: 57px;
}

.apply-button {
    width: 100%;
    display: block;
    color: #fff;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 10px  #DD118E;
    font-size: 18px;
    border-radius: 30px;
    padding: 23px;
    letter-spacing: 1px;
    background:linear-gradient(60deg, #C71B81, #664BBF)
}


#about {
    /* section全体に色がつかないのはなぜか？ */
    background-color: black;
    padding-top: 110px;
}

.about-all {
    margin: 0 auto;
    max-width: 1360px;
    padding-bottom: 70px;

}



.title {
    color: #d136d1;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}

.about-cotent {
    display: flex;
    padding-top: 58px;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    
}

.about-img {
    width: 50%;
    max-width: 445px;
    text-align: center;
}

.about-text {
    width: 665px;
    margin-top: 92px;
    width: 70%;
}

.abou-text-teme {
    color: #fff;
    font-size: 24px;
    padding-bottom: 8px;
    margin-left: 70px;
}

.about-teme {
    color: #d136d1;
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 70px;
    letter-spacing: 5px;
}

.about-teme-content {
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.77px;
    line-height: 175%;
    margin-top: 32px;
    margin-right: 12px;
    margin-left: 66px;
}

#about dl {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #fff;
    margin-top: 18px;
    margin-left: 70px;
}

#about dt {
    font-size: 16px;
    width: 13%;
    margin-top: 14px;
    /* padding-bottom: 10px; */
}

#about dl dd {
    width: 87%;
    font-size: 16px;
    margin-top: 13px;
    letter-spacing: 1.7px;
}

.apply-2 {
   max-width: 230px;
    margin-top: 27px;
    letter-spacing: px;
    margin-left: 70px;
}

#about .apply-2 a {
    width: 100%;
    display: block;
    color: #fff;
    text-align: center;
    box-shadow: 0 10px  #DD118E;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    padding: 20px;
    background:linear-gradient(60deg, #C71B81, #664BBF)
}

/* スピーカー */

#speaker {
    padding-top: 150px;
    background:linear-gradient(120deg, #23002e, #1e092b, #320C65, #A01B7C, #C21780)
}

.speaker-all {
   margin: 0 auto;
   max-width: 1360px;
   padding-bottom: 70px;

}


.title-en {
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: #D136D1;
    margin: 0 quto;
    /* margin-left: 7px; */
    /* padding-left: 18px; */
}

.title-ja {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    padding-top: 10px;
    /* margin-left: 5px; */
    margin: 0 auto;
    letter-spacing: 1px;
}

.person {
    padding-top: 60px;
    max-width: 1110px;
    margin: 0 auto;
}
.en {
    color: #d136d1;
    font-size: 42px;
    letter-spacing: 2px;
}

.jp {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
}

.shawn {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1110px;
    
}

.mihoko {
    display: flex;
    margin-top: 74px;
}

.mihoko-profile {
    padding-left: 60px;
    width: 100%;
    margin-top: 1px;
}

.mihoko-person-img {
    max-width: 445px;
    width: 100%;
}

.jecica {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
     }

     .jecica-jp {
        margin-top: 18px;
        color: #fff;
        font-size: 18px;
     }

     .jecica-li {
        padding-top: 3px;
     }

.person-img {
    width: 100%;
    max-width: 445px;
}

.profile {
    max-width: 665px;
    width: 100%;
    letter-spacing: 1px;
}



.preson-text {
    color: #fff;
    font-size: 16px;
    /* margin-left: 10px; */
    margin-top: 40px;
    letter-spacing: 0.8px;
    line-height: 180%;
}

#session {
    margin: 0 auto;
    background-color: #333333;
    padding-bottom: 101px;
}

.session {
    max-width: 1360px;
    margin: 0 auto;
    padding-top: 151px;
}

dl {
    margin-top: 75px;

}

.dl {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    width: 100%;
    border-bottom: 1px solid #d136d1;
    padding-top: 28px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.dl-2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    width: 100%;
    border-bottom: 1px solid #d136d1;
    padding-top: 47px;
    padding-bottom: 35px;
    margin: 0 auto;
}

.dl-3 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    width: 100%;
    border-bottom: 1px solid #d136d1;
    padding-top: 47px;
    padding-bottom: 35px;
    margin: 0 auto;
}

.dl-4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1110px;
    width: 100%;
    border-bottom: 1px solid #d136d1;
    padding-top: 47px;
    padding-bottom: 35px;
    margin: 0 auto;
}




#session .add {
    max-width: 790px;
    margin-left: 21%;
    margin-top: 13px;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    letter-spacing: 0.7px;
}


#session dt {
    max-width: 145px;
    width: 100%;
    font-size: 22px;
    margin-left: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
}



#session dd {
    max-width: 692px;
    width: 100%;
    margin-left: 59px;
    letter-spacing: 1px;
    color: #d136d1;
    font-weight: bold;
    font-size: 22px;
}

#registor {
	background-color: #2f354f;
	background-size: 10px 10px;
	background-position: 0 0, 5px 5px;
	background-image:
	 linear-gradient(45deg,  #000107 25%, #000107 25%, transparent 25%,
	  transparent 75%, #000107 75%, #000107 75%),
	 linear-gradient(-135deg, #000107 25%, #000107 25%, transparent 25%,
	  transparent 75%, #000107 75%, #000107 75%);
      padding-top: 90px;
}

.registor-all {
    max-width: 1360px;
    margin: 0 auto;
}

.registor {
    width: 100%;
    /* padding: 20px 80px 60px 80px; */
    padding-top: 59px;
    text-align: center;
    padding-bottom: 118px;
}

.registor-inside {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    border: 4px solid #d136d1;
    background-color: #1A1A1A;
    border-radius: 25px;
    /* padding: 80px 120px; */
}

.form {
    margin-top: 92px;
    margin-bottom: 88px;
}


#registor .registor-inside p {
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 157px;
    letter-spacing: 1px;
}

#registor .registor-inside p span {
    color: #d136d1;
    font-size: 16px;
    padding-left: 5px;
    text-align: center;
}

.radio {
    text-align: left;
    margin-bottom: 35px;
    color: #fff;
    margin-left: 154px;

}

.input {
    margin-left: 35.5px;
}

.text-1 {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 157px;
}

.text-2 {
    margin-left: 157px;
    text-align: left;
    padding-bottom: 27px;
}

.text-1 input {
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}

form input,
form textarea {
    font-size: 16px;
    padding: 8px;
    /* 高さをheigthで指定するのはよくない */
}

.text-4 select {
    max-width: 300px;
    width: 100%;
    border-radius: 7px;
    padding: 8px;
    letter-spacing: 3px;
}


.text-2 input {
    max-width: 200px;
    width: 100%;
    border-radius: 5px;
}

.text-3 {
    text-align: left;
    margin-left: 157px;
    margin-bottom: 35px;
    letter-spacing: 
}

.text-4 {
    text-align: left;
    margin-bottom: 48px;
    margin-left: 157px;
    
}

.text-3 input {
    max-width: 600px;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.tell {
    font-size: 12px;
    color: #fff;
    font-weight: bold;
}

.apply-3 {
    display: block;
    box-shadow: 0 9px #d136d1;
    margin: 0 auto;
    border-radius: 35px;
    max-width: 300px;
    background:linear-gradient(60deg, #C71B81, #664BBF)
}
.apply-3 a {
    color: #fff;
    line-height: 20px;
    font-size: 18px;
    padding: 24px;
    display: block;
    
}

#footer {
    background-color: #2c2d32;
}

.footer {
    color: #fff;
    text-align: center;
    padding: 23px;
}

.footer p {
    padding: 50px;
    letter-spacing: 1.3px;
}

.pagetop {
    height: 80px;
    width: 80px;
    position: fixed;
    right: 44px;
    bottom: 39px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* １番最後に付けないと機能しない？ */
    background: linear-gradient(-20deg, #6247bd 0%, #c41a7f 100%);
}

.pagetop-arrow {
    height: 13px;
    width: 13px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: translateY(20%) rotate(-45deg);
}

html {
    scroll-behavior: smooth;
    margin: 0 auto;
  }




  /* SP  */
  @media screen and (max-width: 768px) {
    *{
        box-sizing: border-box;
    }

    .wrapper {
        max-width: 768px;
        margin: 0 auto;
        overflow: hidden;
    }

    .nav {
        margin-right: 20px;
    }

    .content-title {
        color: rgb(209, 54, 209);
        font-size: 24px;
        font-weight: bold;
    }
    
    .contet-title-span {
        color: #fff;
    }
    
    .content-work {
        width: 100%;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        margin-top: 10px;
    }

    .apply {
        width: 150px;
        margin-top: 20px;
        text-align: center;
    }
    


    .about-cotent {
        display: block;

    }

    .about-img {
        padding: 20px;
        margin: 0 auto;
    }

    .about-text {
        margin: 0 auto;
    }

    .abou-text-teme {
        text-align: center;
        margin: 20px auto;
        padding: 0;
    }
    
    .about-teme {
        text-align: center;
        margin: 0;
        font-size: 30px;
        font-weight: bold;
    }

    .about-teme-content {
        text-align: center;
        margin: 20px auto;
    }

     .about-dl {
        display: flex;
        width: 100%;
        /* padding-right: 15%;
        padding-left: 15%; */
    }

    .about-img {
        max-width: 700px;
        max-width: 100%;
        padding: 0;
    }

    .apply-2 {
        max-width: 300px;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .person {
        padding: 0;
    }

    .person-img {
        margin: 0 auto;
    }
    
    .shawn {
        margin-top: 50px;
        margin: 0 auto;
    }

    .mihoko-person-img {
        margin: 0 auto;
    }

    .mihoko-profile {
        padding: 0;
        margin: 0 auto;
        max-width: 665px;
    }

    .shawn, .mihoko, .jecica {
        display: block;
        width: 100%;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }


    .person-img img {
        width: 100%;
    }

    .profile {
        margin: 0 auto;
    }

    .person-li {
        max-width: 700px;
        width: 100%;
    }


    /* session */

   .dl {
        margin: 0 auto;
        max-width: 665px;
    }

    #session dt {
        margin: 0;
    }

    #session dd {
        margin: 0;
        margin-top: 10px;
    }

    #session .add {
        margin: 0;
        margin-top: 5px;
    }
    
    .dl-2 {
        margin: 0 auto;
        max-width: 665px;
    }

    .dl-3 {
        margin: 0 auto;
        max-width: 665px;
    }

    .dl-4 {
        margin: 0 auto;
        max-width: 665px;
    }

    /* registor */

    .registor {
        padding: 5px;
    }

    .registor-inside {
        margin: 0 auto;
        padding: 20px;

    }
    
    
    #registor .registor-inside p span {
        color: #d136d1;
        font-size: 16px;
        padding-left: 5px;
    }
    
    .text-1 {
        margin-bottom: 20px;
    }
    
    .text-1 input {
        width: 100%;
        border-radius: 5px;
    }

    #registor .registor-inside p {
        margin-left: 0;
    }

    .radio {
        margin-left: 0;
    }

    .text-1 {
        margin-left: 0;
    }

    .text-1 input {
        max-width: 100%;
    }

    .text-2 {
        margin-left: 0;
    }

    .text-3 {
        margin-left: 0;
    }

    .text-4 {
        margin-left: 0;
    }

    .input {
        margin-left: 15px;
    }
    .registor-inside {
        margin: 0 auto;
    }

    .form {
        margin: 0 auto;
    }
    
    form input,
    form textarea {
        font-size: 16px;
        padding: 6px;
        /* 高さをheigthで指定するのはよくない */
    }
    
    input[type="text"] {
        padding: 6px;
    }
    
    .text-4 select {
        border-radius: 5px;
        padding: 8px;
        max-width: 100%;
    }
    
    
    .text-2 input {
        max-width: 100%;
        width: 100%;
    }
    
    .text-3 {
        margin-bottom: 20px;
    }
    
    .text-3 input {
        max-width: 100%;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
    }
    
    .apply-3 {
        background: linear-gradient(-20deg, #6247bd 0%, #c41a7f 100%);
        margin-bottom: 20px;
    }


  }